[Desktop Entry]
Version=1.0
Type=Application
Name=PHOENIX-RADAR
Comment=AI-Powered Radar Signal Analysis System
Exec=/bin/bash "/home/nikhil/PycharmProjects/PPhotonic_Radar_AI_Project-master (2)/PPhotonic_Radar_AI_Project-master/scripts/launcher.sh"
Icon=utilities-terminal
Terminal=true
Categories=Science;Education;
StartupNotify=true
